<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/sign.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <title>Login Page</title>
</head>
<body>
    <div class="container">
        <div class="left-container">
            <!-- <img src="/icons/list1.png" alt="" class="logo"> -->
            <!-- <div class="logotitle">
                T<br><br>A <br><br>S <br><br>K <br><br>V <br><br>U <br><br>E
            </div> -->
        </div>
        <div class="right-container">
            <h1>Taskvue</h1>
            <h4>Organize &nbsp;Prioritize&nbsp; Conquer</h4><br><br><br>
            <form action="/signup" method="POST">
                <input type="text" name="name" id="name" placeholder="Name">
                <input type="text" name="username" id="username" placeholder="Username">
                <input type="password" name="password" id="password" placeholder="Password">
                <input type="submit" name="login" id="login" value="Sign up">
            </form>
            <br><span id="or">or</span><br>
            <div class="google"><span><img id="googleicon" src="/icons/google.png" alt=""></span><span id="googletext"><a href="/auth/google">Sign up with Google</a></span></div>
            <div class="createaccount">Existing User?<a href="/" id="createaccount">Log In</a></div>
        </div>
</div>
</body>
</html>